.container {
  display: flex;
}
.nutrition {
  position: relative;
  bottom: 600px;
  background: black;
  width: 500px;
  height: 600px;
  left: 400px;
  text-align: center;
  color: rgb(50, 126, 189);
}
label {
  font-size: 40px;
  color: yellow;
}

.health {
  background-color: black;
  color: rgb(50, 126, 189);
  position: relative;
  left: 1000px;
  bottom: 0px;
  width: 500px;
  height: 750px;
  text-align: center;
}
.container2 {
  display: flex;
}
.container3 {
  display: flex;
}
.container4 {
  display: flex;
}
header {
  text-align: center;
  color: yellow;
  font-size: 60px;
}
body {
  border: 30cm;
  
  background-image: url("https://static.hussle.com/gym_img/940x680/1213/15695735531213.jpg");
  background-size: cover;
}
input {
  width: 300px;
  height: 60px;
  font-size: 150%;
  text-align: center;
  background-color: bisque;
  position: relative;
  left: 400px;
}
button {
  width: 100px;
  height: 62px;
  background-color: black;
  font-size: 200%;
  color: bisque;
  position: relative;
  left: 400px;
  top: 5px;
}
p {
  color: bisque;
}
h1 {
  text-align: center;
  font-size: 80px;
  color: yellow;
  background: black;
}
